<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.boot.learn.unittest.demo.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="spring.boot.learn.unittest.demo.domain.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, age
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from users
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="spring.boot.learn.unittest.demo.domain.User" useGeneratedKeys="true" keyProperty="record.id" >
    insert into users (name, age)
    values (#{record.name,jdbcType=VARCHAR}, #{record.age,jdbcType=INTEGER})
  </insert>
 <update id="updateByPrimaryKey" parameterType="spring.boot.learn.unittest.demo.domain.User" >
    update users
    set name = #{record.name,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER}
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <select id="selectAllUser" resultMap="BaseResultMap" >
    select * from users
  </select>
</mapper>